html,body{
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #6c6f73;
}

h1,h2,h3,h4{
  color: #333;
}

img{
  max-width: 100%;
}

.container{
  padding-top: 100px;
  padding-bottom: 100px;
}

.form{
  padding-top: 40px;

}

footer{
  background-image: url("img/stage.jpg");
  color: white;
}

#stage{
  background: url('img/stage.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#stage-caption-para{
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
}

#signupbutton{
  text-align: center;
}

h2{
  font-size: 4rem;
  font-weight: 700;
}

h1{
animation: typing 11s steps(38);
overflow: hidden;
white-space: nowrap;
border-right: 4px solid white;
width: 38ch;
}

@keyframes typing {
  0%{
    width: 0ch;
  }
  100%{
    width: 38ch;
  }
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.carousel .img{
  max-height: 300px !important;
}
